ejercicio/film-catalog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs=" http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.tierno.es/film-catalog"
elementFormDefault="qualified"
xmlns:tns="http://tierno.es/film-catalog">
    <xs:element name="catalog">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="movie" >
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="title" type="xs:string"/>
                            
                            <xs:element name="year" type="tns:yearType"/>
                                
                        

                            <xs:element name="genre" type="tns:genreType" maxOccurs="unbounded"/>

                            <xs:element name="rating" type="tns:ratingType" minOccurs="0"/>

                            <xs:element name="director" type="tns:directorType"/>
                        </sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>

    </xs:element>

<!--- Year: entre 1900-2024 -->
                            <xs:simpleType name="YearType">
                                <xs:restriction base="xs:integer">
                                    <xs:minInclusive value="1900"/>
                                    <xs:maxInclusive value="2024"/>
                                </xs:restriction>
                            </xs:simpleType>



 <!--- Genre: lista de valores fijos (action....-->
                               <xs:simpleType name="GenreType">
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="action" />
                                    <xs:enumeration value="comedy" />
                                    <xs:enumeration value="drama" />
                                    <xs:enumeration value="sci-fi" />
                                </xs:restriction>
                            </xs:simpleType>


 <!--- clasificacion de edades-->
                               <xs:simpleType name="RatingType">
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="NC-17" />
                                    <xs:enumeration value="PG" />
                                    <xs:enumeration value="PG-13" />
                                    <xs:enumeration value="R" />
                                </xs:restriction>
                            </xs:simpleType>
    <!--director-->
    
<xs:simpleType name="DirectorType">
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="NC-17" />